[submodule "Vendor/nanogui"]
	path = Vendor/nanogui
	url = https://github.com/wjakob/nanogui
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb
[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp
